<%= $player_one_name %> vs. <%= $player_two_name %><br>
<%= $player_two_name %> has 100 hit points<br>

<% if @confirm %>
	<%= @confirm %>
<% end %>

<form action = "/attack" method = "post">
	<input type = "submit" value = "Attack!"/>
</form>